@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "NeueDisplay";
  src: local('NeueDisplay') , url( '../fonts/neuedisplay.ttf');
}
@font-face {
  font-family: "NeueDisplay_m";
  src: local("NeueDisplay_m") ,url('../fonts/neueDisplay_m.ttf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  font-family: "NeueDisplay";
  /* overflow: hidden; */
  
}

.font_m {
  font-family: "NeueDisplay_m";
  font-weight: 500;
}